body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Georgia, serif;
    font-size: 32px;
    color: darkred;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 22px;
    color: darkblue;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
}

a {
    color: darkred;
}

img {
    border: 2px solid darkred;
    border-radius: 15px;
    padding: 5px;
}
